input[type="date"],
input[type="month"] {
  /* position: relative; */
  color: transparent;
  background: transparent;
  border:none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  
}
input[type="date"]:focus,
input[type="month"]:focus{
    color: transparent;
    background: transparent;
    outline:none;
    background-color: transparent;
}